# ASP.NET Core
bin/
obj/
*.exe
*.dll
*.pdb
*.suo
*.user
*.userprefs
*.VC.db
*.VC.VC.opendb

# Visual Studio
.vs/
.vscode/
*.sln

# IDEs
.idea/

# dotnet
.dotnet/

# Dependencies
node_modules/

# Environment
.env
.env.local

# OS
.DS_Store
Thumbs.db
